/* GENERAL STYLE */

* {
  padding: 0;
  margin: 0;
}

/* BODY STYLES */
body {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  background-color: rgb(121, 121, 121);
}

/* NAVBAR */
#logo {
  margin-left: 50px;
  padding: 0px;
}

#logo h1 {
  float: left;
}

#logo a {
  border: 1px solid red;
  display: block;
  width: 150px;
  height: 150px;
}

.dropdown-item {
  color: #fd7e14;
}

.dropdowtxt {
  margin-left: 15px;
  color: aliceblue;
}

.navbar {
  box-shadow: 0px 5px 15px #000;
}

.nav-link {
  color: #fd7e14;
}
.nav-link:hover {
  color: #9b4d0d;
}

.active{
color: #9b4d0d;
}

.itemcolor {
  color: #fd7e14;
}

.navbar i {
  color: rgb(173, 173, 173);
}

.navbar-brand {
  color: rgb(173, 173, 173);
}

/* CONTENT STYLE */

.container {
  padding-bottom: 8px;
  margin-bottom: 20px;
  background-color: rgb(63, 61, 61);
}

.container h3 {
  margin-top: 20px;
  color: #fd7e14;
}

/* IMAGES STYLE */
.imagem {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 220px;
  /* box-shadow: 10px 10px 20px rgb(0, 0, 0); */
  box-shadow: 0 10px 15px -2px rgb(0, 0, 0);
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.8s;
}

.imagem:hover {
  transition: 0.8s;
  transform: scale(1.2, 1.2);
  box-shadow: 0 10px 15px 2px rgb(0, 0, 0);
}

/* FOOTER */

footer {
  text-align: center;
}

footer p {
  color: aliceblue;
}

footer a {
  text-decoration: none;
  color: #fd7e14;
}

footer a:hover {
  color: #9b4d0d;
}
